.profile__user-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: left;
}
@media screen and (max-width: 992px){
    .profile__user-info {
        margin: 0 0 0 46px;
        text-align: center;
    }
}