.profile {
    display: flex;
    box-sizing: border-box;
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: white;
    justify-content: space-between;
}
@media screen and (max-width: 992px){
    .profile {
        padding-top: 42px;
        max-width: 282px;
        flex-direction: column;
    }
}