.userform {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    margin: 60px auto 112px auto;
    padding: 0;
    background-color: black;
    max-width: 358px;
}