.profile__add-button {
    width: 150px;
    height: 50px;
    margin: auto 0;
    padding: 0;
    appearance: none;
    border: 2px solid white;
    background-color: black;
    background-image: url("../../../image/profile/profile__add-button-image.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
}
.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
@media screen and (max-width: 992px){
    .profile__add-button {
        width: 100%;
        margin: 36px 0 0 0;
        background-size: 16px 16px;
    }
}