.popup__input {
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 0;
    padding-bottom: 9px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: white;
    margin: 0;
    outline: none;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}