.elements__delete-button {
    width: 18px;
    height: 19px;
    padding: 0;
    appearance: none;
    border: none;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../../../image/elements/elements__delete-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    flex-shrink: 0;
} 

.elements__delete-button:hover {
    opacity: 0.6;
    transition: opacity 0.1s linear;
    cursor: pointer;
}
