.popup__container_type_edit {
    border-radius: 10px;
    max-width: 430px;
    background-color: white;
    color: black;
    padding: 34px 36px 37px 36px;
}
@media screen and (max-width: 576px){
    .popup__container_type_edit {
        max-width: 282px;
        padding: 25px 22px 25px 22px;
    }
}